#tablaResumenSondasWashington{
	font-size: 8pt;
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 10px;
	background-color: #ffffff;
	padding: 4 4 4 4px;
	border-style: solid;
	border-color: #2196F3;
	border-width: 1px;
	background-color: #FFFFFF;
	width:98%;
	margin-left:15px;
}